<html>
    <head>
        <link type="text/css" media="all" rel="stylesheet" href="../../assets/main.css">
        <script type="text/javascript" src="../../assets/main.js"></script>
    </head>
    <body>
        {{ component }}
    </body>
</html>

