:root {
  --fontFamily: "Roboto Mono";

  --headerBackground: #66928e;
  --logoBackground: #66928e;
  --logoColor: #fff;

  --menuBackground: #bdd5d3;
  --menuTextColor: #000;

  --componentBorderColor: #000;
}
